body{
    background-image: url(bg.jpg);
    height: 100vh;
    margin:200px 800px 100px 100px;
    background-size: cover;
    
}
.login-page{
    width: 500px;
    height: 20%;
    
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background:rgba(188, 143,143, 1);
    margin: 0 auto 100px;
    max-width: 500px;
    padding: 25px;
    text-align: center;
    opacity: 0.8;

}
.form input{
    font-family: monospace;
    outline: 1;
    
    width: 100%;
    border: 0;
    margin:0 0 15px;
    padding: 5px;
    font-size:20px;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 5px 10px rgb(129, 36, 52);
    background: white;
    border-radius: 15px;
}
h2{
    text-align: center;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    color: black ;
    
    font-size: 40px;

}
form button{
    width: 300px;
    padding: 7px;
    font-size: 16px;
    font-family: fantasy;
    background: rgb(126, 56, 68);
    font-weight: 500;
    text-transform: uppercase;
}   
form button:hover,.form button:active{
    background-color: rosybrown ;
}